.card:hover img {
    transform: scale(1.3,1.3);  /*bigger */
    transition-duration: 1500ms;
    transition-timing-function: ease-out;
}
f 
.card img {
    transform: scale(1.0,1.0);
    transition-duration: 1000ms;
    transition-timing-function: ease-out;
}

.card-img-wrapper {
    overflow: hidden;
    position: relative;
}

.member-icons {
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
}

.card-img-wrapper:hover .member-icons {
    bottom: 0;
    opacity: 1;
}

.animate {
    transition: all 0.3s ease-in-out;
}

@keyframes fa-blink {
    0% {opacity: 1;}
    100% {opacity: 0.4;}
}

.is-online {
    animation: fa-blink 1.5s linear infinite;
    color: rgb(1, 189, 42)
}
.member-icons .btn-primary {
  background-color: rgba(0, 123, 255, 0.38) !important; /* %80 opak mavi */
  border-color: rgba(0, 123, 255, 0.38) !important;
  color: white !important;
  transition: background-color 0.7s ease;
}

.member-icons .btn-primary:hover {
  background-color: rgba(0, 86, 179, 0.8) !important; /* Hoverda biraz daha opak */
  border-color: rgba(0, 86, 179, 0.8) !important;
}